<%= form_for(@part_model) do |f| %>
  <% if @part_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_model.errors.count, "error") %> prohibited this part_model from being saved:</h2>

      <ul>
      <% @part_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= label_tag(:name, "Part:") %>
	<%= @part_model.part.name %>
  </div>
  <div class="field">
    <%= f.label :model_name %><br />
    <%= f.text_field :model_name %>
  </div>
  
  <%= hidden_field_tag("part_model[part_id]", @part_model.part.id) %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
