<h1>Listing part_models</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Part</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @part_models.each do |part_model| %>
  <tr>
    <td><%= part_model.name %></td>
    <td><%= part_model.part %></td>
    <td><%= link_to 'Show', part_model %></td>
    <td><%= link_to 'Edit', edit_part_model_path(part_model) %></td>
    <td><%= link_to 'Destroy', part_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part model', new_part_model_path %>
