<div style="width:30%; margin-left: 40%; margin-top: 10%;">
	
	<div id="failure_msg" class="failure"><%= @message%></div>
	<div class="heading">Login</div>
	<%= form_tag({:controller=>"sessions", :action => "create"}, :method => "post") do %>	
	  <div style="width: 100%; padding-top: 20%">
	    <div style="width: 30%; float: left"><%= label_tag :Username %></div>
	    <div style="width: 40%; float: left"><input type="text" value="<%= params[:email]%>" name="email"/>
	    	
	    </div>
	  </div><br/>
	
	  <div style="width: 100%; padding-top: 10%">
	    <span style="width: 30%; float: left"><%= label_tag :Password %></span>
	    <span style="width: 40%; float: left"><input type="password" value="<%= params[:password]%>" name="password"></span>
	  </div>
	
	  <div style="width:20%; height: 5%; padding-top: 15%; padding-left: 25%"><%= submit_tag "Log in", :class=>"button_link"%></div>
	
	<% end %>
</div>
