<table class="borderedTable">
  <tr>
    <th width="10%">S. No.</th>
    <th width="15%">Make</th>
    <th width="20%">Number</th>
    <th width="30%">Description</th>
    <th width="15%">Action</th>
  </tr>

  <% i = 1 %>

  <% for model in @models %>
  <tr id="<%= 'models_' + String(model.id) %>">
    <td><%= i %></td>
    <td><div id="models_<%=model.id%>_0"><%= model.make.name %></div></td>
    <td><div id="models_<%=model.id%>_1"><%= model.number %></div></td>
    <td><div id="models_<%=model.id%>_2"><%= model.description %></div></td>
    <td>
    	<span style="margin-left: 20%;">
    		<img src="/images/edit.jpg" id="edit_<%= model.id %>" class="edit_image" onclick="Model.editEntity(<%= model.id %>)"/>
		</span>
		<img id="spinner_edit_<%= model.id %>" style="display:none" src="/images/spinner.gif"/>
		<span style="margin-left: 20%;">
    		<img src="/images/delete.jpg" id="delete_<%= model.id %>" class="delete_image" onclick="Model.deleteEntity(<%= model.id %>)"></img>
		<img id="spinner_delete_<%= model.id %>" style="display:none;" src="/images/spinner.gif"/>
		</span>
    </td>
  </tr>
  <% i = i + 1 %>
  <% end %>

</table>
