<h1>Add Part To Model</h1>
<%= form_tag({:controller=>"models", :action => "saveModelPart"}, :method => "get") do %>
<div class="field">
  <%= label_tag(:model_part, "Model") %><br/>
  <%= label_tag(:model_part, @model.name) %>
  <input id="model_part[model_id]" name="model_part[model_id]" type="hidden" value=<%=@model.id%> %>
</div>

<div class="field">
  <%= label_tag(:model, "Model #", :class => 'medium_lbl_grey') %>
  <%= collection_select(:model, :model_id,  @models, :id, :number, {:prompt => 'Select Model', :selected => @model_id}, :class => 'width_large')%>
</div>

<%= submit_tag "Add Part", :class => "small_button" %>
<%= link_to 'Back', model_path(@model) %>

<% end %>
