<h1>View Model</h1>

<p id="notice"><%= notice %></p>

<p>
  <%= label_tag(:model, "Model Name", :class => 'medium_lbl_grey') %><br/>
  <%= label_tag(:model, @model.name, :class => 'medium_lbl') %>
</p>

<p>
  <b>Parts:</b>
  <% for part in @model.parts %>
    <%= part.name %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
<%= link_to 'Add Part', :controller => "models", :action => "addModelPart", :model_id => @model.id %>
