<%= form_for(@part) do |f| %>
  <div class="field">
    <label><b>Part Number</b></label><br/>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <label><b>Description</b></label><br/>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <b><%= f.label :weight %>(Kg)<br/>
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
