<p id="notice"><%= notice %></p>

<h1>View Part</h1>

<p>
  <b>Number:</b>
  <%= @part.number %>
</p>

<p>
  <b>Description:</b>
  <%= @part.description %>
</p>

<p>
  <b>Weight(Kg):</b>
  <%= @part.weight %>
</p>

<p>
  <b>Price List:</b>
  <table class="borderedTable"><tr>
  <tr>
    <th>S.No.</th>
    <th>Customer</th>
    <th>Currency</th>
    <th>Price</th>
  </tr>
  <% i = 1 %>
  <% for part_price in @part.part_prices %>
  <tr onclick="openPage('part_prices',<%= part_price.id %>)">
    <td><%= i %></td>
    <td><%= part_price.customer.name %></td>
	<td><%= part_price.currency.name %></td>
	<td><%= part_price.price %></td>
  </tr>
  <% i = i + 1 %>
  <% end %>
  </table>
</p>

<%= link_to 'Add Price', :controller => "part_prices", :action => "new", :part_id => @part.id %> | 
<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Delete', part_path(@part), :method => "DELETE",  %> | 
<%= link_to 'Back', parts_path %>



