<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @part.number %>
</p>

<p>
  <b>Partname:</b>
  <%= @part.name %>
</p>

<p>
  <b>Weight:</b>
  <%= @part.weight %>
</p>

<p>
  <b>Prices:</b>
  <% for part_prices in @part.part_prices %>
    </br><%= part_prices.customer.name %>
	<%= part_prices.currency.name %>
	<%= part_prices.price %></br>
  <% end %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
<%= link_to 'Add Price', :controller => "part_prices", :action => "new", :part_id => @part.id %>



