<table class="borderedTable">
  <tr>
    <th width="10%">S. No.</th>
    <th width="20%">Name</th>
    <th width="30%">Description</th>
    <th width="15%">Action</th>
  </tr>

  <% i = 1 %>

  <% for make in @makes %>
  <tr id="<%= 'makes_' + String(make.id) %>">
    <td><%= i %></td>
    <td><div id="makes_<%=make.id%>_0"><%= make.name %></div></td>
    <td><div id="makes_<%=make.id%>_1"><%= make.description %></div></td>
    <td>
    	<span style="margin-left: 20%;">
    		<img src="/images/edit.jpg" id="edit_<%= make.id %>" class="edit_image" onclick="Make.editEntity(<%= make.id %>)"/>
		</span>
		<img id="spinner_edit_<%= make.id %>" style="display:none" src="/images/spinner.gif"/>
		<span style="margin-left: 20%;">
    		<img src="/images/delete.jpg" id="delete_<%= make.id %>" class="delete_image" onclick="Make.deleteEntity(<%= make.id %>)"></img>
		<img id="spinner_delete_<%= make.id %>" style="display:none;" src="/images/spinner.gif"/>
		</span>
    </td>
  </tr>
  <% i = i + 1 %>
  <% end %>

</table>
