<h1>Add Model To Make</h1>
<%= form_tag({:controller=>"makes", :action => "saveModel"}, :method => "get") do %>
<div class="field">
  <b><%= label_tag(:make, "Make") %></b><br/>
  <%= label_tag(:make, @make.name) %>
  <input id="make_id" name="make_id" type="hidden" value=<%=@make.id%> %>
</div>

<div class="field">
  <b><%= label_tag(:model, "Model") %></b><br/>
  <%= collection_select(:model, :id, @models, :id, :number, {:prompt => 'Select Model'}, :class => 'width_medium')%>
</div>

<%= submit_tag "Add Model", :class => "small_button" %>
<%= link_to 'Back', make_path(@make) %>

<% end %>
