<h1>List Makes</h1>

<table class="borderedTable">
  <tr>
    <th>S.No.</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% i = 1 %>
<% @makes.each do |make| %>
  <tr onclick="openPage('makes', <%= make.id %>)">
    <td><%= i %></td>
    <td><%= make.name %></td>
    <td><%= make.description %></td>
    <% i = i + 1 %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Make', new_make_path %>
