<div>
  <%= label_tag(:bill_part, @part.number, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, @part.description, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, @part.weight, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, price, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, quantity, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, discount, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, calculated_weight, :class => 'medium_lbl') %>
  <%= label_tag(:bill_part, calculated_price, :class => 'medium_lbl') %>
  <input id="bill_part_id[]" name="bill_part_id[]" type="hidden" value=<%=@part.id%> %>
  <input id="bill_part_quantity[]" name="bill_part_quantity[]" type="hidden" value=<%=quantity%> %>
  <input id="bill_part_discount[]" name="bill_part_discount[]" type="hidden" value=<%=discount%> %>
  <input id="bill_part_price[]" name="bill_part_price[]" type="hidden" value=<%=calculated_price%> %>
  <input id="bill_part_weight[]" name="bill_part_weight[]" type="hidden" value=<%=calculated_weight%> %>
  <img src="/images/minus.jpg" class="remove_image" onclick="return removeUpdate(<%=calculated_weight%>, <%=calculated_price%>)"/>
</div>