<h1>Listing Bills</h1>

<table class="borderedTable">
  <tr>
    <th>Bill date</th>
    <th>Customer</th>
    <th>Currency</th>
    <th>Status</th>
    <th>Total cost</th>
  </tr>

<% @bills.each do |bill| %>
  <tr onclick="openPage('bills', <%= bill.id %>)">
    <td><%= bill.bill_date %></td>
    <td><%= bill.customer.name %></td>
    <td><%= bill.currency.name %></td>
    <td><%= bill.status %></td>
    <td><%= bill.total_cost %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path %>
