<h1>Bills</h1>

<table class="borderedTable">
  <tr>
    <th>S. No.</th>
    <th>Bill date</th>
    <th>Customer</th>
    <th>Currency</th>
    <th>Status</th>
    <th>Total cost</th>
  </tr>

<% i = 1 %>
<% @bills.each do |bill| %>
  <tr onclick="openPage('bills', <%= bill.id %>)">
    <td><%= i %></td>
    <td><%= bill.bill_date %></td>
    <td><%= bill.customer.name %></td>
    <td><%= bill.currency.name %></td>
    <td><%= bill.status %></td>
    <td><%= bill.total_cost %></td>
  </tr>
  <% i = i + 1 %>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path , :class=>'button_link' %>
