<p id="notice"><%= notice %></p>

<h1>View Bill</h1>

<div style="float:left; width: 450px;">	
  <div class="top_pad_20">
	<%= label_tag(:bill, "Bill date", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.bill_date, :class => 'medium_lbl') %>
  </div>

  <div class="top_pad_20">
	<%= label_tag(:bill, "Due Date", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.due_date, :class => 'medium_lbl') %>
  </div>

  <div class="top_pad_20">
	<%= label_tag(:bill, "Buyer", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.customer.name, :class => 'medium_lbl') %>
  </div>

  <div class="top_pad_20">
	<%= label_tag(:bill, "Buyer Order #", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.order_number, :class => 'medium_lbl') %>
  </div>
</div>
<div style="float:left; width: 450px;">	
  <div class="top_pad_20">
	<%= label_tag(:bill, "Currency", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.currency.name, :class => 'medium_lbl') %>
  </div>
  
  <div class="top_pad_20">
	<%= label_tag(:bill, "Box Count", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.box_count, :class => 'medium_lbl') %>
  </div>

  <div class="top_pad_20">
	<%= label_tag(:bill, "Vessel/Flight #", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.flight_number, :class => 'medium_lbl') %>
  </div>

  <div class="top_pad_20">
	<%= label_tag(:bill, "Amount Overdue", :class => 'medium_lbl_grey') %>
  	<%= label_tag(:bill, @bill.currency.symbol + String(@bill.previous_overdue), :class => 'medium_lbl') %>
  </div>
</div>
<div style="clear:both;"></div>
<div class="top_pad_20">
  <%= label_tag(:bill, "Part Number", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Part Description", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Unit Weight", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Unit Price", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Quantity", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Discount", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Total Weight", :class => 'medium_lbl_grey') %>
  <%= label_tag(:bill, "Calculated Price", :class => 'medium_lbl_grey') %>
</div>

<p>
	<% for bill_part in @bill.bill_parts %>
	  <div>
	    <%= label_tag(:bill, bill_part.part.number, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.part.description, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.weight/bill_part.quantity, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.price/bill_part.quantity, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.quantity, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.discount, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.weight, :class => 'medium_lbl') %>
	    <%= label_tag(:bill, bill_part.price, :class => 'medium_lbl') %>
	  </div>
    <% end %>
</p>

  <div class="large_div_bottom">
    <div>
	  <%= label_tag(:bill, "Totals", :class => 'medium_lbl_grey') %>
	  <%= label_tag(:totalweight, @bill.total_weight, :id => 'totalweight', :class => 'medium_lbl_grey') %>   
	  <%= label_tag(:totalprice, @bill.total_cost, :id => 'totalprice', :class => 'medium_lbl_grey') %> 
    </div>
  </div>
  <div class="div_button_bottom">
    <%= link_to 'Edit', edit_bill_path(@bill)%> |
    <%= link_to 'Generate Pdf', :controller => "bills", :action => "show", :id => @bill.id, :format=> :pdf%> | 
    <%= link_to 'Back', bills_path %>
  </div>
