<p id="notice"><%= notice %></p>

<p>
  <b>Bill date:</b>
  <%= @bill.bill_date %>
</p>

<p>
  <b>Customer:</b>
  <%= @bill.customer.name %>
</p>

<p>
  <b>Currency:</b>
  <%= @bill.currency.name %>
</p>

<p>
  <b>Parts:</b></br>
    <% for bill_part in @bill.bill_parts %>
      <%= bill_part.part.number %>
      <%= bill_part.part.name %>
      <%= bill_part.quantity %>
      <%= bill_part.discount %>
      <%= bill_part.price %>
      <%= bill_part.weight %></br>
    <% end %>
</p>

<p>
  <b>Total cost:</b>
  <%= @bill.total_cost %>
</p>

<p>
  <b>Total weight:</b>
  <%= @bill.total_weight %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
