  <div style="width:75%;padding-top: 5%;" align="center">
    <div style="float:left;"><label>Customer Id</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.customer_id%>" id="customer_customer_id" name="customer[customer_id]"/></div>
  </div>
  <div style="width:75%;padding-top: 7%;" align="center">
    <div style="float:left;"><label>Name</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.name%>" id="cutomer_name" name="customer[name]"/></div>
  </div>
  <div style="width:75%;padding-top: 7%;" align="center">
    <div style="float:left;"><label>Contact Person</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.contact_person%>" id="customer_contact_person" name="customer[contact_person]"/></div>
  </div>
  <div style="width:75%;padding-top: 7%" align="center">
    <div style="float:left;"><label>Address</label></div>
    <div style="float:right; width:57%"><textarea rows="5" cols="20" style="color:#60AFFE; width: 100%" id="customer_address" name="customer[address]"><%=@customer.address%></textarea></div>
  </div>
  <div style="width:75%;margin-top: 25%" align="center">
    <div style="float:left;"><label>Country</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.country%>" id="customer_country" name="customer[country]"/></div>
  </div>
  <div style="width:75%;margin-top: 32%;" align="center">
    <div style="float:left;"><label>Phone</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.phone%>" id="customer_phone" name="customer[phone]"/></div>
  </div>
  <div style="width:75%;padding-top: 7%;" align="center">
    <div style="float:left;"><label>Fax</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.fax%>" id="customer_fax" name="customer[fax]"/></div>
  </div>
  <div style="width:75%;padding-top: 7%;" align="center">
    <div style="float:left;"><label>Email</label></div>
    <div style="float:right;"><input type="text" value="<%=@customer.email%>" id="customer_email" name="customer[email]"/></div>
  </div>
  <div style="width:75%;padding-top: 7%;" align="center">
    <div style="float:left;"><b><label>Web</label></b></div>
    <div style="float:right;"><input type="text" value="<%=@customer.web%>" id="customer_web" name="customer[web]"/></div>
  </div>
