<%= form_for(@customer) do |f| %>
  <div class="field">
    <label>Customer Id</label><br />
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <label>Name</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br />
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :class => 'medium_text_area'%>
  </div>
  <div class="field"> 
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit :class => "small_button" %>
  </div>
<% end %>
