<table class="borderedTable">
  <tr>
    <th width="5%">Id</th>
    <th width="20%">Name</th>
    <th width="15%">Country</th>
    <th width="20%">Phone</th>
    <th width="20%">Email</th>
    <th width="5%">Action</th>
  </tr>
<% @customers.each do |customer| %>
  		<tr id="<%= 'customers_' + String(customer.id) %>">
		    <td><div id="customers_<%=customer.id%>_0"><%= customer.customer_id %></div></td>
		    <td><div id="customers_<%=customer.id%>_1"><%= customer.name %></div></td>
		    <td><div id="customers_<%=customer.id%>_2"><%= customer.country %></div></td>
		    <td><div id="customers_<%=customer.id%>_3"><%= customer.phone %></div></td>
		    <td><div id="customers_<%=customer.id%>_4"><%= customer.email %></div></td>
		    <td>
		    	<span style="margin-left: 10%;">
		    		<img src="/images/edit.jpg" id="edit_<%= customer.id %>" class="edit_image" onclick="Customer.editEntity(<%= customer.id %>)"/>
				</span>
				<img id="spinner_edit_<%= customer.id %>" style="display:none" src="/images/spinner.gif"/>
				<span style="margin-left: 10%;">
		    		<img src="/images/delete.jpg" id="delete_<%= customer.id %>" class="delete_image" onclick="Customer.deleteEntity(<%= customer.id %>)"></img>
				<img id="spinner_delete_<%= customer.id %>" style="display:none;" src="/images/spinner.gif"/>
				</span>
		    </td>
	  	</tr>
<% end %>
</table>
