<h1>List Customers</h1>

<table class="borderedTable">
  <tr>
    <th>Customer Id</th>
    <th>Name</th>
    <th>Country</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>

<% @customers.each do |customer| %>
  <tr onclick="openPage('customers',<%= customer.id %>)">
    <td><%= customer.customer_id %></td>
    <td><%= customer.name %></td>
    <td><%= customer.country %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.email %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Customer', new_customer_path %>
