<p id="notice"><%= notice %></p>

<h1>View customer</h1>

<p>
  <b>Customer Id:</b>
  <%= @customer.customer_id %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Contact person:</b>
  <%= @customer.contact_person %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Country:</b>
  <%= @customer.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @customer.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Web:</b>
  <%= @customer.web %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<%= button_to "Delete", customer_path(@customer.id), :method=>:delete, :confirm=>"Are you sure?" %>
