<%= form_for(@bill_part) do |f| %>
  <% if @bill_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill_part.errors.count, "error") %> prohibited this bill_part from being saved:</h2>

      <ul>
      <% @bill_part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_price %><br />
    <%= f.text_field :model_price %>
  </div>
  <div class="field">
    <%= f.label :bill %><br />
    <%= f.text_field :bill %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
