<p id="notice"><%= notice %></p>

<p>
  <b>Model price:</b>
  <%= @bill_part.model_price %>
</p>

<p>
  <b>Bill:</b>
  <%= @bill_part.bill %>
</p>

<p>
  <b>Quantity:</b>
  <%= @bill_part.quantity %>
</p>


<%= link_to 'Edit', edit_bill_part_path(@bill_part) %> |
<%= link_to 'Back', bill_parts_path %>
