<%= form_for(@part_price) do |f| %>

  <div class="field">
    <b><%= f.label :Part %></b><br />
    <%= @part.number %> - <%= @part.description %>
  </div>
  <div class="field">
    <b><%= f.label :Customer %></b><br />
	<%= f.collection_select :customer_id, @customers, :id, :name, {:prompt => 'Select Customer'}%>
  </div>
  <div class="field">
    <b><%= f.label :Currency %></b><br />
	<%= f.collection_select :currency_id, @currencies, :id, :name, {:prompt => 'Select Currency'}%>
  </div>
  <div class="field">
    <b><%= f.label :price %></b><br />
    <%= f.text_field :price %>
  </div>
  <input type="hidden" name="part_price[part_id]" value="<%=@part.id%>">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
