<%= form_for(@part_price) do |f| %>

  <div class="field">
    <%= f.label :Part %><br />
    <%= @part.name %>
  </div>
  <div class="field">
    <%= f.label :Customer %><br />
	<%= f.collection_select :customer_id, @customers, :id, :name, {:prompt => 'Select Customer'}%>
  </div>
  <div class="field">
    <%= f.label :Currency %><br />
	<%= f.collection_select :currency_id, @currencies, :id, :name, {:prompt => 'Select Currency'}%>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <input type="hidden" name="part_price[part_id]" value="<%=@part.id%>">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
