<td><input type="text" id="part_price_make" name="part_price[make]" value="<%=@part_price.make%>" class="inline_textbox"></td>
<td><input type="text" id="part_price_model" name="part_price[model]" value="<%=@part_price.model%>" class="inline_textbox"></td>
<td><input type="text" id="part_price_part_number" name="part_price[part_number]" value="<%=@part_price.part_number%>" class="inline_textbox"></td>
<td><input type="text" id="part_price_part_desc" name="part_price[part_desc]" value="<%=@part_price.part_desc%>" class="inline_textbox"></td>
<td><input type="text" id="part_price_weight" name="part_price[weight]" value="<%=@part_price.weight%>" class="inline_textbox"></td>
<td><input type="text" id="part_price_currency" name="part_price[currency]" value="<%=@part_price.currency%>" class="inline_textbox"></td>
<td><input type="text" id="part_price_price" name="part_price[price]" value="<%=@part_price.price%>" class="inline_textbox"></td>
