	    <td><%= i %></td>
	    <td><%= part_price.model %></td>
	    <td><%= part_price.part_number %></td>
	    <td><%= part_price.part_desc %></td>
	    <td><%= number_with_precision(part_price.weight , :precision => 2)%></td>
	    <td><%= number_with_precision(part_price.price , :precision => 2)%></td>
	    <td class="admin_action">
	    	<span style="margin-left: 15%;">
	    		<img src="/images/pencil_edit.jpg" id="edit_<%= part_price.id %>" class="edit_image" onclick="PartPrice.editEntity(<%= part_price.id %>, <%= i %>)"/>
			</span>
			<img id="spinner_edit_<%= part_price.id %>" style="display:none" src="/images/spinner.gif"/>
			<span style="margin-left: 15%;">
	    		<img src="/images/minus_red.jpg" id="delete_<%= part_price.id %>" class="edit_image" onclick="PartPrice.deleteEntity(<%= part_price.id %>)"></img>
			<img id="spinner_delete_<%= part_price.id %>" style="display:none;" src="/images/spinner.gif"/>
			</span>
	    </td>
<script>
	if(role == 'admin')
		$(".admin_action").css('visibility','visible')
</script>
