<div style="width: 100%">
	<div>
	  <span class="heading"><%= @make %></span>
	</div>
	<div style="padding-top: 5%; widows: 100%">
	
		<div style="padding-top: 2%" align="left">
		  <div style="width: 25%;float: left;">
	  		  <div style="float: left; width:23%"><%= label_tag(:model, "Model", :class => 'medium_lbl_grey') %></div>
			  <div style="float: right; width:77%"><input type="text" id="model" name="model" class='search_model'/></div>
		 </div>
		 <div style="width: 25%;float: left;padding-left: 5%">
			  <div style="float: left; width:18%"><%= label_tag(:part, "Part", :class => 'medium_lbl_grey') %></div>
			  <div style="float: right; width:82%"><input type="text" id="part_number" name="part_number" class='search_part'/></div>
		</div>
		 <div style="width: 25%;float: left;padding-left: 5%;">
			  <a onclick="PartPrice.searchEntity()" class="button_link">Search</a>
			  <img id="spinner_search" style="display:none" src="/images/spinner.gif"/>
			  <a onclick="PartPrice.resetSearchFields()" class="button_link">Reset</a>
			</div>
		</div>
	</div>
	<div id="results" name="results" style="padding-top: 7%; width: 100%">
	  <%= render 'result' %>
	</div>
	<div name="dialog_create" id="dialog_create" class="popup" title="<font color='#60AFFE'>Add Price</font>"></div>
	<div name="dialog_update" id="dialog_update" class="popup" title="<font color='#60AFFE'>Edit Price</font>"></div>
<div>
<input type="hidden" id="part_price_make" name="part_price[make]" value="<%=@make%>">
<input type="hidden" id="part_price_currency" name="part_price[currency]" value="<%=@currency%>">
<script type="text/javascript">
	$(".search_model").change(function() {
	  $(".search_part").val('')
	});
	$(".search_model").focusin(function() {
	  var data = {make: $('#part_price_make').val(),
	  currency: $('#part_price_currency').val()}
	  populateModelsAutoComplete(data, "search_model");
	});
	$(".search_part").focusin(function() {
	  var data = {model_number: $('#model').val(),
	  currency: $('#part_price_currency').val(),
	  make: $('#part_price_make').val()}
	  populatePartsAutoComplete(data, "search_part");
	});
</script>
