<p id="notice"><%= notice %></p>

<p>
  <b>Partmodel:</b>
  <%= @model_price.partModel %>
</p>

<p>
  <b>Currency:</b>
  <%= @model_price.currency %>
</p>

<p>
  <b>Price:</b>
  <%= @model_price.price %>
</p>


<%= link_to 'Edit', edit_model_price_path(@model_price) %> |
<%= link_to 'Back', model_prices_path %>
