<!DOCTYPE html>
<html>
<head>
<script src="/javascripts/vendorjs/jquery.alphanum.js"></script>
<script src="/javascripts/vendorjs/jquery.number.min.js"></script>
<script src="/javascripts/vendorjs/jquery-1.6.1.min.js"></script>
<script src="/javascripts/vendorjs/jquery-ui-1.8.15.custom.min.js"></script>
  <title>Kripa</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body >
	<script>

	var role = '<%= current_user ? current_user.role : nil %>'
	
	</script>
  <div style="width: 100%">
  	<% if current_user %>
    <div style="font-family:Verdana;
    position:fixed;left:0%;bottom:0%;top:0%;width:10%;background-color: #60AFFE; height: 100%">
    	<div id="priceMenuDivMain"></div>

    	<div id="currentUserName"> 
	      <%=current_user.username%>
	    </div>
    	<div id="currentUserName"> 
	      <%=Date.today.strftime("%d %b %Y")%>
	    </div>
	    
    	<div id="priceMenuDiv" style="padding-top:5%;padding-bottom:5%; margin-top: 10%; width:100%" class="menu_div" onmouseover="showPriceMenuDiv()"> 
	      <a>Prices</a>
	    </div>
	    <div id="adminMenuDivMain" class="partPriceMenuLinkSub">
	    	<div class="partPriceMenuLinkSub"><a id="user_mgt_link">USER MANAGEMENT</a></div>
	    	<div style="height: 10px"></div>
	    	<div class="partPriceMenuLinkSub"><a id="price_menu_link" >DATA BACKUP</a></div>
	    </div>
    	<div id="adminMenuDiv" style="padding-top:5%;padding-bottom:5%; margin-top: 10%; width:100%" class="menu_div" onmouseover="showAdminMenuDiv()"> 
	      <a>Admin</a>
	    </div>
    	<div style="padding-top:5%;padding-bottom:5%; margin-top: 7%;" class="menu_div"> 
	      <%= link_to 'Log Out', :controller => "sessions", :action => "destroy"%>
		</div>
	</div>
	<div style="margin-left: 20%; margin-right: 20%; font-family:Verdana; width: 70%; height: 100%" align="center">
		<div id="success_msg" class="success"></div>
		<div id="failure_msg" class="failure"></div>
   		<%= yield %>
    </div>
    <% else %>
      <%= render :template => "sessions/new"%>
    <% end %>
</body>
</html>
<script src="/javascripts/application.js"></script>
<script src="/javascripts/entities.js"></script>
<script src="/javascripts/part_price.js"></script>
<script src="/javascripts/search.js"></script>
<script src="/javascripts/autocomplete.js"></script>
