<!DOCTYPE html>
<html>
<head>
<script src="/javascripts/jquery.alphanum.js"></script>
<script src="/javascripts/jquery.number.min.js"></script>
<script src="/javascripts/jquery-1.6.1.min.js"></script>
<script src="/javascripts/jquery-ui-1.8.15.custom.min.js"></script>
  <title>Kripa</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body >
	<script>

	var role = '<%= current_user ? current_user.role : nil %>'
	
	</script>
  <div style="width: 100%">
  	<% if true %>
    <div style="font-family:Verdana;
    position:absolute;left:0%;bottom:0%;top:0%;width:10%;background-color: #60AFFE;">
    	<div id="priceMenuDivMain"></div>
    	<!--<div class="menu_div" style="margin-top: 5%;" > 
	      <%= link_to 'Makes', :controller => "makes", :action => "index"%><br/>
	    </div>
    	<div style="margin-top: 5%;" class="menu_div"> 
	      <%= link_to 'Models', :controller => "models", :action => "index"%><br/>
	    </div>
    	<div style="margin-top: 5%;" class="menu_div"> 
	      <%= link_to 'Parts', :controller => "parts", :action => "index"%>
	    </div>
    	<div style="margin-top: 5%;" class="menu_div"> 
	      <%= link_to 'Customers', :controller => "customers", :action => "index"%><br/>
	    </div>
    	<div style="margin-top: 5%;" class="menu_div"> 
	      <%= link_to 'Log Out', :controller => "sessions", :action => "destroy"%>
		</div>-->
    	<div id="priceMenuDiv" style="padding-top:5%;padding-bottom:5%; margin-top: 10%; width:100%" class="menu_div" onmouseover="showPriceMenuDiv()"> 
	      <a>Prices</a>
	    </div>
    	<div style="padding-top:5%;padding-bottom:5%; margin-top: 7%;" class="menu_div"> 
	      <%= link_to 'Log Out', :controller => "sessions", :action => "destroy"%>
		</div>
	</div>
	<div style="margin-left: 20%; margin-right: 20%; font-family:Verdana; width: 70%; height: 100%" align="center">
		<div id="success_msg" class="success"></div>
		<div id="failure_msg" class="failure"></div>
   		<%= yield %>
    </div>
    <% else %>
      <%= render :template => "sessions/new"%>
    <% end %>
</body>
</html>
<script src="/javascripts/application.js"></script>
