<!DOCTYPE html>
<html>
<head>
  <title>Kripa</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div>
    <div style="position:absolute;left:10px;bottom:10px;top:10px;background-color: #E8E8E8;"> 
      <%= render_navigation%>
	</div>
	<div style="position:absolute;left:150px">
      <%= yield %>
    </div>
</body>
</html>
