<!DOCTYPE html>
<html>
<head>
  <title>Kripa</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div>
    <div style="position:absolute;left:0px;bottom:0px;top:0px;width:150px;background-color: #F6CEF5;"> 
      <%= render_navigation%>
	</div>
	<div style="position:absolute;left:150px;bottom:0px;top:0px;width:100%;background-color: #FFFFCB;">
      <%= yield %>
    </div>
</body>
</html>
