<!DOCTYPE html>
<html>
<head>
  <title>Kripa</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div>
  	<% if true %>
    <div style="position:absolute;left:0px;bottom:0px;top:0px;width:150px;background-color: #D8D8D8;"> 
      <!--<%= link_to 'Generate Bill', :controller => "bills", :action => "new"%><br/></br/>-->
      <%= link_to 'Models/Parts', :controller => "models", :action => "index"%><br/>
      <!--<%= link_to 'Bills', :controller => "bills", :action => "index"%><br/>-->
      <!--<%= link_to 'Models', :controller => "models", :action => "index"%><br/>
      <%= link_to 'Parts', :controller => "parts", :action => "index"%><br/>
      <%= link_to 'Customers', :controller => "customers", :action => "index"%>-->
	</div>
	<div style="margin-left: 10%">
      <%= yield %>
    </div>
    <div style="position:absolute;right:0px;bottom:0px;top:0px;width:150px;background-color: #D8D8D8;"> 
      <%= link_to 'Log Out', :controller => "sessions", :action => "destroy"%>
	</div>
    <% else %>
      <%= render :template => "sessions/new"%>
    <% end %>
</body>
</html>
